<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="EscHalconEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/xe;PASSWORD=escuadrilla_halcon;PERSIST SECURITY INFO=True;USER ID=ESCUADRILLA_HALCON&quot;" providerName="System.Data.EntityClient" />
    <add name="CapaPresentacion.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=localhost:1521/xe;PASSWORD=escuadrilla_halcon;PERSIST SECURITY INFO=True;USER ID=ESCUADRILLA_HALCON" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="webservice_dgacPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8081/dgac_ws/webservice_dgac"
        binding="basicHttpBinding" bindingConfiguration="webservice_dgacPortBinding"
        contract="ServiceReferenceDGAC.webservice_dgac" name="webservice_dgacPort" />
    </client>
  </system.serviceModel>
</configuration>